body{
    font-family: 'open-sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0px;
    padding: 0px;
}

.container{
    margin: auto;
}

/* Common classes */
.primary-text{
    color:#56a79a;
}

.primary-background{
    color:#56a79a;
}

/* Header */
#main-header{
    border-bottom: 1px solid #56a79a;
}

/* NavBar */
#navbar{
    text-transform: uppercase;
}

#navbar li{
    display: inline;
    padding-right: 20px;
    list-style: none;
}

#navbar a{
    text-decoration: none;
    color: #888;
}

#navbar li.current a, #navbar a:hover{
    color: #56a79a;
    border-bottom: 3px solid #56a79a;
    padding-bottom: 3px;
}

/* Showcase */
#showcase{
    background:url('../images/pexels-jamiesx-co-7519973.jpg') no-repeat center center;
    border-bottom: 1px solid #56a79a;
    margin-bottom: 30px;
}

#showcase .row{
    height: 600px;
}

#showcase h1{
    font-size: 50px;
    margin: 0;
    padding-bottom: 20px;
}

#showcase p{
    color: #ccc;
    margin: 0;
}

#showcase .showcase-content{
    background: #333;
    color: #fff;
    border-radius: 30px;
    padding: 40px;
    opacity: 0.9;
}

/* Features */
#features h2{
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
}

#features p{
    color: #888;
    margin: 0;
    margin-bottom: 40px;
}

#features .fas{
    font-size: 60px;
    color: #56a79a;
}

#features .button{
    text-decoration: none;
    padding: 20px;
    background-color: #ddd;
    border: none;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
    background: #56a79a;
    border-radius: 10px;
}

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}


/* footer */
#main-footer{
    /* display: block; */
    background: #56a79a;
    color: #fff;
    /* width: 100%;
    right: 0px;
    position: fixed;    
    bottom: 0; */
}

/* footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  } */

/* contact */
.contact form{
    background: #333;
    color: #fff;
    padding: 20px;
}

.contact form input[type="text"]{
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
}

.contact form textarea{
    width: 50%;
    height: 100px;
}

.contact form button{
    width: 50%;
    padding: 10px 0;
    border: 0;
    background: #222;
    color: #fff;
}

.contact form label{
    text-transform: uppercase;
}

/* Media Queries */
@media (max-width:800px){
    #showcase h1{
        font-size: 30px;
    }
}

@media (max-width:500px){
    #showcase .showcase-content{
        padding: 40px 10px;
    }
}